%h2 Identities

%table
  %tr
    %th Label
    %th Address
  - @addresses.each_pair do |address, address_info|
    - if address_info['enabled']
      %tr
        %td= address_info["label"]
        %td= address
