%h2 Identities

%h3 Create random address

%div
  %form{:method => :post, :action => "/identities/new/"}
    Label:
    %input{:type => :text, :name => :label, :size => 50}
    %input{:type => :submit, :value => 'Create!' }

%h3 Create deterministic address

%div
  %form{:method => :post, :action => "/identities/new/"}
    Label:
    %input{:type => :text, :name => :passphrase, :size => 50}
    %input{:type => :submit, :value => 'Create!' }


%h3 Current Identities
%table
  %tr
    %th Label
    %th Address
  - @addresses.each_pair do |address, address_info|
    - if address_info['enabled']
      %tr
        %th= address_info["label"]
        %td= address

