%html
  %title
    BMF - BitMessageForum
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/bitmessageforum.css'}
%body
  %h1
    BMF - BitMessageForum
  %p
    Navigating BitMessage since 2013!
  .nav
    %ul
      %li
        %a{:href => "/messages/compose/"}
          Compose

    %ul
      %li
        %a{:href => "/inbox/"}
          Inbox
      %li
        %a{:href => "/lists/"}
          Lists
      %li
        %a{:href => "/chans/"}
          Chans
  .content
    - if @new_messages && @new_messages > 0
      .new_messages
        = @new_messages
        new messages!

    = yield

  .footer
    Copyright 2013
    %br
    BMF Chan: bmf_support BM-2DBsnPXWVR7PbC5qMEYAdgtaSQnkr5X7ng
    %br
    %a{:href => "https://github.com/grant-olson/BitMessageForum/issues" } Bug Tracker
    %br
    Author Address -
    %a{:href => "/messages/compose/?to=BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU"}
      BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU
    %br
    Donate 1JVWWSy6jaHDQJ8EmXeFjNTFuMY96k2jb1