%html
  %title
    BitMessageForum
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/bitmessageforum.css'}
%body
  %h1
    BitMessageForum
  %p
    Navigating BitMessage since 2013!
  .nav
    %ul
      %li
        %a{:href => "/inbox/"}
          Inbox
      %li
        %a{:href => "/lists/"}
          Lists
      %li
        %a{:href => "/chans/"}
          Chans
  .content
    = yield