%html
  %title
    BMF - BitMessageForum
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/bitmessageforum.css'}
%body
  %h1
    BMF - BitMessageForum
  %p
    Navigating BitMessage since 2013!
  .nav
    %ul
      %li
        %a{:href => "/messages/compose/"}
          Compose

    %ul
      %li
        %a{:href => "/inbox/"}
          Inbox
      %li
        %a{:href => "/lists/"}
          Lists
      %li
        %a{:href => "/chans/"}
          Chans
      %li
        %a{:href => "/sent/"}
          Sent Mail

    Edit
    %ul
      %li
        %a{:href => "/identities/"}
          Identities
      %li
        %a{:href => "/settings/"}
          Settings

  .content
    - if @new_messages && @new_messages > 0
      .new_messages
        = @new_messages
        new messages!

    - if cookies[:flash] && cookies[:flash] != ""
      .flash
        = cookies[:flash]
        - cookies.delete(:flash)
    = yield

  .footer
    BMF Chan: bmf_support BM-2DBsnPXWVR7PbC5qMEYAdgtaSQnkr5X7ng
    %br
    Release/Security Notifications Only - Subscribe to BM-2DABVRoCRtwKZLyVCBZ3n6PuC4n7a4zLsA
    %br
    Author's Address -
    %a{:href => "/messages/compose/?to=BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU"}
      BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU
    %br
    Software Copyright 2013 - BSD Licensed - <a href='https://github.com/grant-olson/BitMessageForum'>Fork Me @ Github</a> - 
    %a{:href => "https://github.com/grant-olson/BitMessageForum/issues" } Bug Tracker
    %br
    Donate 1JVWWSy6jaHDQJ8EmXeFjNTFuMY96k2jb1
