%h1 Edit Settings

- if @flash
  .new_messages
    = @flash

%form{:method => :post, :action => "/settings/update"}
  %table
    - @settings.each_pair do |key, value|
      %tr
        %th= key
        %td= Settings::SETTINGS_AND_DESCRIPTIONS[key]
        %td
          %input{:type => :text, :name => key, :value => value, :size => 50}

    %tr
      %th{:colspan => 3}
        %input{:type => :submit}