.recipient
  %div
    - if @addresses.has_key? @address
      = @addresses[@address]['label']
    - else
      = @address
  .thread
    - @threads.each do |thread, messages|
      %div
        %a{:href => "./#{CGI.escape(thread)}"}
          = thread
