.recipient, .thread, .message {
  border: 1pt solid black;
}

body {
  background-color: #F0F0F0;
  font-family: sans-serif;
  font-size: 75%;
}

div { margin: 0.5em;padding:0.5em }

.nav { display:inline-block;float:left;background-color:#F4F4F4;border: 1pt solid black;}
.content {margin-left:0%;float:left;max-width:80%;}

.recipient { background-color:#F8F8F8;}
.thread, .nav { background-color:#FCFCFC;}
.message { background-color:#FEFEFE;}

.sent { background-color:#CCCCFF;}

.footer { clear:both; }

.new_messages { 
  border: 1pt solid black;
  background-color:#ffcccc;
  }

.new {
  font-weight:bold;
}

ul {margin-left:1em;padding-left:0;}
ul li {margin-left:0;padding-left:0;}

form.button {display:inline;float:left;margin-right:0.5em;margin-bottom:0.25em;}
form.inline {display:inline;}
input.small_button, select.small{font-size:0.75em;font-weight:bold;}

.small{font-size:0.75em;}

.clear{clear:both;margin:0;padding:0;}

