.breadcrumb
  = params[:folder]
.recipient
  - @messages.each do |user, threads|
    - new = BMF::ThreadStatus.instance.new_messages_for_address?(user, threads.map {|x| x[0]})
    %div{:class => (new ? "alert alert-success" : "alert") }
      %a{:href => "./#{user}/"}
        - if @addresses.has_key? user
          = @addresses[user]['label']
        - else
          = user

      %br
      %small 
        %b Updated:
        =Time.at(BMF::MessageStore.instance.address_last_updates[user]).to_datetime

      &nbsp;
      %br
      %br
      %form{:method => :get, :action => "/messages/compose/"}
        %input{:type => :hidden, :name => :to, :value => user}
        %button.btn-small.btn-default{:type => :submit} Send Message
