%form{:method => :post, :action => "/messages/send/"}

  - if @goto
    %input{:type => :hidden, :name => :goto, :value => @goto}
  %table
    %tr
      %th
        To:
      %td 
        %input.form-control{:type => :text, :name => :to, :size => 50, :value => @to}
    %tr
      %th
        From:
      %td
        %select.form-control{:name => :from}
          - BMF::AddressStore.instance.addresses.each do |addr, addr_info|
            - next if !addr_info['enabled']
            %option{:value => addr, :selected => (addr == @from)}
              = addr_info['label']
        %input{:type => :checkbox, :name => :broadcast}
        %small broadcast?

    %tr
      %th
        Subject
      %td
        %input.form-control{:type => :text, :name => :subject, :size => 50, :value => @subject, :spellcheck => 'true'}

    %tr
      %th
        Message
      %td
        %textarea.form-control{:name => :message, :cols => 80, :rows => 30, :spellcheck => 'true' }= @message

    %tr
      %th
      %th
        %input.btn.btn-default{:type => :submit, :value => :send}