%h1 Welcome!

%p
  BMF provides a forum-style interface to your bitmessages.

%ul
  %li
    %a{:href => "/configuring-pybitmessage/"}
      Configuring PyBitmessage connection.
  %li
    %a{:href => "/https-quick-start/"}
      https quick start.