%h1 Welcome!

%p
  BMF provides a forum-style interface to your bitmessages.

%h4 Documentation
%ul
  %li
    %a{:href => "/configuring-pybitmessage/"}
      Configuring PyBitmessage connection.
  %li
    %a{:href => "/https-quick-start/"}
      https quick start.

%h4 Support
BMF Chan: bmf_support BM-2DBsnPXWVR7PbC5qMEYAdgtaSQnkr5X7ng
%br
Release/Security Notifications Only - Subscribe to
%a{:href => "/settings/subscriptions/?label=BMF+Notifications&address=BM-2DABVRoCRtwKZLyVCBZ3n6PuC4n7a4zLsA"}
  BM-2DABVRoCRtwKZLyVCBZ3n6PuC4n7a4zLsA
%br
Author's Address -
%a{:href => "/messages/compose/?to=BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU"}
  BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU