%h2 Current Identities
= haml(:address_list)

%hr
%h2 Create Identities
.row
  .col-lg-6
    %h4 Create random address

    %div
      %form{:method => :post, :action => "/identities/new/"}
        %label
          Label:
          %input.form-control.input-small{:type => :text, :name => :label, :size => 50}
        %input.btn-small.btn-default{:type => :submit, :value => 'Create!' }

  .col-lg-6
    %h4 Create deterministic address

    %div
      %form{:method => :post, :action => "/identities/new/"}
        %label
          Password:
          %input.form-control.input-small{:type => :text, :name => :passphrase, :size => 50}
        %input.btn-small.btn-default{:type => :submit, :value => 'Create!' }
