!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}/
    %title BMF - BitMessageForum
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="/js/html5.js"></script>
    / styles
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    :css
      .body {
        padding-top: 70px;
      }
    / fav and touch icons
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/images/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/"} BMF
        .nav-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/messages/compose/"} Compose
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Messages
                - if BMF::Folder.new("inbox").new_messages? | BMF::Folder.new("lists").new_messages? | BMF::Folder.new("chans").new_messages?
                  %span.label.label-success New!
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "/inbox/"}
                    Inbox
                    - if BMF::Folder.new('inbox').new_messages?
                      %span.label.label-success New!
                %li
                  %a{:href => "/lists/"}
                    Lists
                    - if BMF::Folder.new('lists').new_messages?
                      %span.label.label-success New!
                %li
                  %a{:href => "/chans/"}
                    Chans
                    - if BMF::Folder.new('chans').new_messages?
                      %span.label.label-success New!
                %li
                  %a{:href => "/sent/"}
                    Sent
                    - if BMF::Folder.new('sent').new_messages?
                      %span.label.label-success New!
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Settings
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "/identities/"} Identities
                %li
                  %a{:href => "/subscriptions/"} Subscriptions
                %li
                  %a{:href => "/settings/"} Site Settings

        / /.nav-collapse
    .container
      .body
        %div{:id => "messages"}

        - if BMF::Alert.instance.peek_new_messages != 0
          .alert.alert-success{:id => "message"}
            %button.close{:'data-dismiss' => "alert"} &times;
            = BMF::Alert.instance.pop_new_messages
            new messages!

        - if !BMF::Alert.instance.peek.empty?
          .alert.alert-success{:id => "message"}
            %button.close{:'data-dismiss' => "alert"} &times;
            %ul
              - BMF::Alert.instance.pop.each do |alert|
                %li= alert

        - if cookies[:flash] && cookies[:flash] != ""
          .alert.alert-success{:id => "message"}
            %button.close{:'data-dismiss' => "alert"} &times;
            = cookies[:flash]
            - cookies.delete(:flash)
        = yield

      / /body
      %hr
      .footer
        BMF Chan: bmf_support BM-2DBsnPXWVR7PbC5qMEYAdgtaSQnkr5X7ng
        %br
        Release/Security Notifications Only - Subscribe to
        %a{:href => "/subscriptions/?label=BMF+Notifications&address=BM-2DABVRoCRtwKZLyVCBZ3n6PuC4n7a4zLsA"}
          BM-2DABVRoCRtwKZLyVCBZ3n6PuC4n7a4zLsA
        %br
        Author's Address -
        %a{:href => "/messages/compose/?to=BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU"}
          BM-2DAxhHpd2Sez4oQmZu5sEAMJbnNp3yDFCU
        %br
        Software Copyright 2013 - BSD Licensed - <a href='https://github.com/grant-olson/BitMessageForum'>Fork Me @ Github</a> -
        %a{:href => "https://github.com/grant-olson/BitMessageForum/issues" } Bug Tracker
        %br
        Donate 1JVWWSy6jaHDQJ8EmXeFjNTFuMY96k2jb1

    / /container

    /
      Javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/js/jquery-1.10.1.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/messagePoll.js"}