%h1 Edit Settings

- if @flash
  .alert.alert-success
    %button.close{:'data-dismiss' => "alert"} &times;
    = @flash

%form{:method => :post, :action => "/settings/site/update"}
  %table.table.table-striped
    - @settings.each_pair do |key, value|
      %tr
        %th= key
        %td= BMF::Settings::SETTINGS_AND_DESCRIPTIONS[key]
        %td
          %input.form-control.input-small{:type => :text, :name => key, :value => value, :size => 50}

  %button.btn.btn-small.btn-default{:type => :submit} Save Settings

%form{:method => :post, :action => "/settings/mark_all_read"}
  %button.btn.btn-small.btn-danger{:type => :submit} Mark All Messages Read