%h2 Current Subscriptions

- if @subscriptions.empty?
  %p
    %i
      You either don't have any subscriptions, or your version of PyBitmessage doesn't support the listSubscriptions API call.
- else
  %table.table.table-striped
    %tr
      %th Label
      %th Address
    - @subscriptions.each do |subscription|
    - next if !subscription['enabled']
      %tr
        %th= Base64.decode64(subscription['label']).force_encoding('utf-8')
        %td= subscription['address']

%h2 Manage Subscription

.row
  .col-lg-6
    %h4 Add New Subscription
    %form{:method => :post, :action => "/subscriptions/create/"}
      %label Label
      %input.form-control.input-small{:type => :text, :name => :label, :value => params[:label], :size => 50}
      %label Address
      %input.form-control.input-small{:type => :text, :name => :address, :value => params[:address], :size => 50}
      %br
      %input.btn-small.btn-default{:type => :submit, :value => "Add New Subscription"}

  .col-lg-6
    %h4 Delete Subscription
    %form{:method => :post, :action => "/subscriptions/delete/", :onsubmit => "return confirm('Are you sure');"}
      %label Address
      %input.form-control.input-small{:type => :text, :name => :address, :size => 50}
      %br
      %input.btn-small.btn-default{:type => :submit, :value => "Delete Subscription"}